---
import Image from "astro/components/Image.astro";
import General from "../layouts/General.astro";
import img_jmanczak from "../assets/jmanczak.jpeg";
import img_mdobrzynski from "../assets/mdobrzynski.jpeg";
import { MovingCompSciBg } from "../components/MovingCompSciBg.tsx";
---

<MovingCompSciBg height="full" />
<General title="O nas" description="Czym jest debatecore?">
  <div
    class="p-4 grid sm:grid-cols-2 lg:grid-cols-4 max-w-7xl gap-8 mt-8 lg:mt-24 mx-auto"
  >
    <section
      class="p-4 sm:p-8 rounded-lg border border-neutral-800 bg-white bg-opacity-[.02] backdrop-blur sm:col-span-2 lg:col-span-3 lg:row-span-2"
    >
      <h1 class="font-lexend text-3xl mb-4">
        {"Czym jest"}
        <span
          class="bg-clip-text font-bold tracking-wide text-transparent bg-gradient-to-r from-30% to-70% from-violet-600 to-pink-400"
          >{"debatecore"}</span
        >{"?"}
      </h1>
      <p class="text-justify mb-4">
        Jesteśmy debatantami z&nbsp;Poznania. Chcemy popularyzować debaty
        oksfordzkie i&nbsp;ułatwić początkującym mówcom wejście do świata debat.
        W&nbsp;tym celu tworzymy narzędzia informatyczne i&nbsp;artykuły
        poświęcone debatom.
      </p>
      <p class="text-justify mb-4">
        Stworzyliśmy <a
          href="https://tools.debateco.re/oxford-debate/setup"
          target="_blank"
          class="underline decoration-solid">zegar do debat oksfordzkich</a
        >
        wykorzystywany zarówno na szkolnych, jak i&nbsp;ogólnopolskich turniejach
        debat. Prowadzimy również największą internetową
        <a
          href="https://tools.debateco.re/debate-motion-generator"
          target="_blank"
          class="underline decoration-solid">bazę tez</a
        >
        z&nbsp;minionych turniejów. Ponadto dzielimy się zdobytym przez nas doświadczeniem,
        publikując <a
          href="writings"
          target="_blank"
          class="underline decoration-solid"
        >
          artykuły</a
        >
        ze wskazówkami dotyczącymi debatowania.
      </p>
    </section>
    <a href="https://manczak.net">
      <section
        class="p-4 min-h-64 rounded-lg border border-neutral-800 bg-white bg-opacity-[.02] hover:bg-opacity-[.05] backdrop-blur"
      >
        <Image
          src={img_jmanczak}
          alt={"Jakub Mańczak"}
          class="rounded-full w-32 h-32 mb-4 mx-auto"
        />
        <h2 class="font-lexend text-xl">Jakub Mańczak</h2>
        <p class="font-lexend text-neutral-500 mb-3">Mówca pierwszy</p>
      </section>
    </a>
    <section
      class="p-4 min-h-64 rounded-lg border border-neutral-800 bg-white bg-opacity-[.02] backdrop-blur"
    >
      <Image
        src={img_mdobrzynski}
        alt={"Mateusz Dobrzyński"}
        class="rounded-full w-32 h-32 mb-4 mx-auto"
      />
      <h2 class="font-lexend text-xl">Mateusz Dobrzyński</h2>
      <p class="font-lexend text-neutral-500 mb-3">Mówca pierwszy</p>
    </section>
  </div>
</General>
