---
import infoicon from "../../public/info.svg?raw";
import homeicon from "../../public/home.svg?raw";
import scrolltexticon from "../../public/scroll-text.svg?raw";
// import clipboardcheckicon from '../../public/clipboard-check.svg?raw';

const links = [
  {
    text: "Homepage",
    hidetext: true,
    icon: homeicon,
    href: "/",
  },
  {
    text: "About",
    icon: infoicon,
    href: "/about",
  },
  // {
  //   text: "Projects",
  //   icon: clipboardcheckicon,
  //   href: "/"
  // },
  {
    text: "Writings",
    icon: scrolltexticon,
    href: "/writings",
  },
];

const { variant } = Astro.props;
---

<nav
  id="navi"
  class="font-lexend fixed z-[1000] h-16 w-full flex flex-row justify-center bg-white bg-opacity-[.02] border-b border-neutral-800 backdrop-blur"
>
  <a
    href="/"
    class="mr-auto px-7 hidden sm:flex flex-row items-center hover:bg-black hover:bg-opacity-50"
    >{"debateco.re"}</a
  >
  {
    links.map((el) => {
      return (
        <a
          href={el.href}
          class="px-7 flex flex-row items-center gap-2 hover:bg-black hover:bg-opacity-50"
          aria-label={el.text}
        >
          <span class="md:scale-[.75]">
            <Fragment set:html={el.icon} />
          </span>
          {el.text && !el.hidetext && (
            <span class="hidden md:block">{el.text}</span>
          )}
        </a>
      );
    })
  }
</nav>
<div class="h-16 block"></div>
