---
import homeicon from '../../public/home.svg?raw';
import infoicon from '../../public/info.svg?raw';
import scrolltexticon from '../../public/scroll-text.svg?raw';
import clipboardcheckicon from '../../public/clipboard-check.svg?raw';
const links = [
  // {
  //   icon: homeicon,
  //   href: "/"
  // },
  {
    text: "About",
    icon: infoicon,
    href: "/about"
  },
  // {
  //   text: "Projects",
  //   icon: clipboardcheckicon,
  //   href: "/"
  // },
  // {
  //   text: "Writings",
  //   icon: scrolltexticon,
  //   href: "/"
  // }
];
---

<nav id="navi" class="font-lexend fixed h-16 w-full flex flex-row bg-white bg-opacity-[.02] border-b border-neutral-800 backdrop-blur">
  <a href="/" class="mr-auto px-8 flex flex-row items-center hover:bg-black hover:bg-opacity-50">{"debatecore"}</a>
  {links.map(el => {
    return (
      <a href={el.href} class="px-8 flex flex-row items-center gap-2 hover:bg-black hover:bg-opacity-50">
        <span class="md:scale-[.75]"><Fragment set:html={el.icon} /></span>
        {el.text && <span class="hidden md:block">{el.text}</span>}
      </a>
    )
  })}
</nav>
<div class="h-16 block"></div>
