---
import '@fontsource/lexend';
import Navigation from '../components/Navigation.astro';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description || "Debatecore – Approachable debating."}>
		<title>{`debatecore – ${title}`}</title>
	</head>
	<body class="min-h-screen relative bg-black bg-gradient-to-b from-neutral-950 to-black text-white">
		<div class="absolute w-full h-screen bg-compsci motion-safe:animate-pan opacity-[.05] -z-10" />
		<div class="absolute w-full h-screen bg-gradient-to-b from-transparent to-black -z-10" />
		<Navigation />
		<slot />
	</body>
</html>
